# ==== PYTHON BACKEND ====

# виртуальное окружение
venv/
.env/
.env.*


# кэш питона
__pycache__/
*.pyc
*.pyo
*.pyd
backend/__pycache__/

# билды
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/

# логи
*.log

# базы sqlite
*.db
*.sqlite3

# медиа/временные файлы
media/
uploads/
tmp/

# pytest
.cache/
.pytest_cache/
coverage/


# ==== REACT FRONTEND ====

# node_modules
frontend/node_modules/

# build output
frontend/build/
frontend/dist/

# lock-файлы (по желанию)
frontend/package-lock.json
frontend/yarn.lock

# env-конфиги
frontend/.env
frontend/.env.*

# misc
*.DS_Store


# ==== ROOT ====

# системные файлы
Thumbs.db
.DS_Store

# docker
docker-data/
*.pid
