.wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    /*background: salmon;*/
    margin: 30px 0;
}

.input-box input {
    width: 98%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #E2E8F0;
    border-radius: 8px;
    font-size: 16px;
}

.input-box .icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-form {
    width: 420px;
    border: 2px solid #E2E8F0;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a {
    text-decoration: none;
    color: #065FCB;
    justify-content: center;
    font-weight: 450;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    border: none;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: #065FCB;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.wrapper .register-link {
    text-align: center;
    color: #475569;
}

.reg {
    text-decoration: none;
    color: #065FCB;
    font-weight: 600;
}

.reg:hover {
    text-decoration: underline;
}

