.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
    border-bottom: 1px solid #E2E8F0;
}

.nav a{
    text-decoration: none;
    padding: 15px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    font-weight: 500;
}

.site-title{
    font-weight: bolder;
    font-size: 24px;
    color: #065FCB;
}

.top{
    color: black;
    text-align: center;
}

.login{
    color: #065FCB;
    text-align: center;

}
