.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
    border-bottom: 1px solid #E2E8F0;
}

.nav a{
    text-decoration: none;
    padding: 15px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    font-family: Inter Medium;
}

.site-title{
    font-family: Inter Extrabold;
    font-size: 24px;
    color: #065FCB;
}

.top{
    color: black
}

.login{
    color: #065FCB
}

.register{
    background: #065FCB;
    border-radius: 6%;
    color: white;
}